<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url }}">
      BomHub
    </a>

    <button class="button navbar-burger">
      <span><a href="contributing">How to contribute</a></span>
      <span><a href="tags">Modules by tag</a></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu">
      <a class="page-link" href="{{site.baseurl}}/contributing">How to contribute</a>
      <a class="page-link" href="{{site.baseurl}}/tags">Modules by tag</a>
  </div>
</nav>
