---
layout: default
---
<article class="post">
  <div class="home">

    {% assign grouped_pages = site.pages | where: 'designer', page.designer | where: 'layout', 'module' | group_by: 'designer' | sort: 'designer' %}
    {% for group in grouped_pages %}
    <h2>{% if page.homepage %}
    Modules from <a href="{{page.homepage}}">{{page.designer}}</a>
    {% else %}
    Modules from {{page.designer}}
    {% endif %}</h2>
    <ul>
      {% for module in group.items | sort: 'modname' %}
      <li><a href="{{module.url }}">{{module.modname | capitalize}}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
    {{ content }}
    </div>
</article>
