---
layout: default
---

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="/{{ site.baseurl }}">Home</a></li>
    <li><a href="index.html">{{ page.designer }}</a></li>
    <li class="is-active"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ page.modname }}</a></li>
  </ul>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page.modname }}
      </h1>
      <h2 class="subtitle">
        {{ page.tags }}
      </h2>
    </div>
  </div>
</section>

<section class="section">

  <div class="post-content">
    <div id="info">
      <ul>
          <li><a href="index.html">{{ page.designer }}</a></li>
          <li>{{ page.size }}</li>
      </ul>
    </div>
    <div id="build">
      <h3>Build {{ page.modname }}</h3>
      <ul>
        <li>Bill of Materials
          <ul>
            {% for thebom in page.build.bom %}
            <li><a href="{{thebom[1]}}">{{thebom[0]}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>Build guide
          <ul>
            {% for guide in page.build.buildguide %}
            <li>
              <a href="{{guide[1]}}">{{guide[0]}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <div id="buy">
    <h3>Buy {{ page.modname }}</h3>
    <ul>
      {% for store in page.buy %}
      <li>
        <a href="{{store[1]}}">{{store[0]}}</a>
      </li>
      {% endfor %}
    </ul>
    </div>
    <div id="build-controls">
      <button value="want">I want to build</button>
      <button value="ready">I'm ready to build</button>
      <button value="done">I have built</button>
    </div>
    <div id="about">
    {{ content }}
    </div>

  </div>
  <div class="closeout">
    <p>&gt;&gt;&gt; Build other {% assign mod_tags = page.tags | split: ','%}
    {% for tag in mod_tags %}
      <a href="{{site.baseurl}}/tags#{{tag}}">{{tag}}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</p>
    <p>&gt;&gt;&gt; More by <a href="index.html">{{ page.designer }}</a></p>
  </div>

</section>

<script type="text/javascript">
  var doc = {
    bom: {{ page.build.data | jsonify }},
    module: {{ page.modname  | jsonify }},
    url: {{page.url | jsonify }}
  }
  document.addEventListener('DOMContentLoaded', function () {
    var db = new PouchDB('diy-planned');
    db.get('_design/info').catch(function (err) {
      console.log(err);
      var ddoc = {
        _id: '_design/info',
        views: {
          by_module: {
            map: function (doc) { emit(doc.module, doc.state); }.toString(),
            reduce: '_count'
          },
          by_state: {
            map: function (doc) { emit(doc.state, doc.module); }.toString(),
            reduce: '_count'
          }
        }
      };
      db.put(ddoc).then(function () {
        console.log('Created design doc');
      }).catch(function (err) {
        console.log('Error creating design doc - already exists?');
      });
    });
    function toBuild(el) {
      if (el.target.value){
        doc.state = el.target.value;
        db.post(doc);
        console.log(el);
        el.target.setAttribute("disabled", "disabled");
      }
    };
    db.query('info/by_module', {reduce: false, key: doc.module, include_docs: true}).then(function resp(data) {
      var recorded_states = [];
      data.rows.forEach(function f(row) {
        recorded_states.push(row.value);
      })
      var buttons = document.getElementsByTagName('button');
      Array.prototype.slice.call(buttons, 0).forEach(function (el) {
        if (recorded_states.includes(el.value)){
          console.log(el);
          el.setAttribute("disabled", "disabled");
        } else {
          el.addEventListener('click', toBuild);
        }
      });
    });
  });
</script>